venv/
*.csv
*.parquet
*.xlsx
__pycache__/
.env
venv*/
.vscode/
dbt/**/target/
dbt/**/logs/
dbt/logs/
# dbt temporales
target/
dbt_packages/
logs/

# Airflow
airflow/logs/
airflow/config/airflow.cfg
airflow/plugins/
airflow/.env